@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");

body {
    background: #202020;
    color: #ffffff;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

/* Hangman Styles */
.Hangman {
    width: 80%;
    margin: 0 auto;
    min-height: 80vh;
}

.Hangman-word {
    letter-spacing: 1em;
    margin: 0.4em -1em 0.2em 0;
    font-size: 2rem;
}

.btns {
    text-align: center;
    display: inline-block;
    width: 250px;
    margin-top: 0;
}

.two-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.Hangman button {
    border: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 5px 2px;
    letter-spacing: 1px;
    outline: none;
    background: #2c2c2c;
    color: #ffffff;
    box-shadow: 0 6px #1f1f1f;
    border-radius: 5px;
    padding: 4px;
    transition: background-color 0.3s ease;
}

.Hangman button:hover {
    background-color: #1f1f1f;
}

.Hangman button:disabled {
    background: #d4d4d4;
    color: #a0a0a0;
    box-shadow: 0 6px #b0b0b0;
}

#reset {
    width: auto;
    display: block;
    margin: 2rem auto;
    background: #9c27b0;
    box-shadow: 0 6px #7b1fa2;
}

#reset:hover {
    background: #7b1fa2;
}

.Hangman-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: inherit;
}

.Hangman-flex div {
    text-align: center;
}

.Hangman-reset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50%;
}

.Hangman-reset select {
    width: 100%;
    margin: 1rem 0;
    padding: 0.55em 0.7em;
    font-family: inherit;
}

@media (max-width: 570px) {
    .Hangman-title {
        text-align: center;
    }
    .Hangman-flex {
        justify-content: center;
    }
    .Hangman-flex div {
        flex: 1 1 auto;
    }
    .Hangman-reset select {
        width: 70%;
    }
    #reset {
        margin: 2rem auto 1rem;
    }
}
